*
{

	margin: 0;
	padding: 0;


}

header
{
	width: 100%;
	background: black;
	height: 85px;
	position:fixed;
}

.config
{
	width: 70%;
	height: 70px;
	margin: auto;
}

.logo
{
	width: 30%;
	height: 70px;
	float: left;
	padding-top: 5px;
	font-family: udec;
	/*background: gray;*/
}

nav
{
	width: 70%;
	height: 70px;
	float: left;
	text-align: right;
	padding-top: 20px;
}
nav ul li    
{
	display: inline;
}

nav ul li a
{
	color: white;
	font-size: 13px;
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 15px;
	font-weight: bold;
	letter-spacing: 5px;
	font-family: udec;
}

nav ul li a:hover
{
	color: red;
}

.logo img
{
	width: 70px;
	height: 70px;

}

@font-face   /*importando la fuente que descargamos de google fonts*/
{
	font-family: udec;
	src:url(fuentes/Raleway-Regular.ttf);
}

.mentalwar p
{
	height: 10px;
	width: 80px;
	font-family: udec;
	font-size: 14px;
	color: white;
	text-align: left;
}

.nosotros p
{
	font-family: udec;
	font-size: 40px;
	color: white;
	text-align: left;
	/*background: linear-gradient(to bottom right,white,black);*/
	background-color: rgb(0,0,0);

}

.parrafo1_nosotros
{
    background: radial-gradient(#66FFFF, #66CCFF, #210B61);
    /*background: radial-gradient(#99FFFF, #33FFCC, #3333FF);*/
	display: flex;
}

.parrafo1_nosotros p
{
	position: relative;
	left: 45%;
	margin-top: 70px;
}

.parrafo1_nosotros ul img
{
	width: 250px;
	height: 260px;
	margin-top: 10px;
	margin-left: 230px;
}

.parrafo_1
{
	font-size: 20px;
	margin-left: 150px;
	font-family: udec;
	
}

.parrafo2_nosotros
{
	display: flex;	
	background: radial-gradient(#66FFFF, #66CCFF, #210B61);
	/*background: radial-gradient(#99FFFF, #33FFCC, #3333FF);*/
}

.parrafo2_nosotros p
{
	margin-top: 70px;
}

.parrafo2_nosotros ul img
{
	width: 600px;
	height: 300px;
	margin-top: 10px;
	margin-left: 140px;
	
}

.parrafo_2
{
	font-size: 20px;
	margin-left: 150px;
	font-family: udec;
}

.multimedia p
{
	font-family: udec;
	font-size: 40px;
	text-align: right;
	color: white;
	background-color: rgb(0,0,0);
}

.multi{
	background: black;

}

.slider {
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 15s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 80%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}


.multimedia_2
{
	background: #424242;
	display: flex;
	justify-content: center;


}

.multimedia_2 ul li
{
	list-style: none;
}

.multimedia_2 ul li img
{
	width: 300px;
	height: 200px;
	border-radius: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	
}

.ranking
{
	font-family: udec;
	font-size: 40px;
	text-align: center;
	color: white;
	background-color: rgb(0,0,0);
}

.puntuacion 
{

	font-size: 30px;
    background: black;
}

.puntuacion table
{

	color: white;
	margin: auto;
	border-collapse: collapse;
}

.puntuacion tr td
{
	border: 10px solid black;
	font-family: udec;
}

.puntuacion tr th
{
	border: 1px solid black;
	font-family: udec;
}





