*
{
	margin: 0px;
	padding: 0px;
}
body
{
	background: url(../imagenes/fondo.jpg);
	background-size:cover;
	/*background: #1C0C1E;*/
}
.titulo h1 
{
	color:white;
	text-align: center;
	font-size: 50px;
}
form
{
	background: #333333;
	width: 360px;
	border: 1px solid #4e4d4d;
	border-radius: 3px;
	box-shadow: inset 0 0 35px black;
	margin: 15px auto;  /*centra el formulario*/
}
form h2
{
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 40pt;
	margin: 30px 0px;
}
form input
{
	border-radius: 8px;
	width: 280px;
	height: 35px;
	padding: 0px 10px;
	margin: 10px 30px;
	color: #6d6d6d;
	text-align: center;
}
form button
{
	width: 135px;
	margin: 10px 115px 10px;
	height: 50px;
	background: linear-gradient(to bottom right,white,black);
	color: white;
	box-shadow: 0px 3px 0px black;
	border-radius: 10px;
}

